/* global settings */
body {
  background-color:#cfe0e8;
  font-family: 'Roboto', sans-serif;
}


 /* navigation menu styles */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#87bdd8;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:#b7d7e8;
  }

  /* table styles */
  .table-comp {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
  }
  
  td{
    padding: 10px;
    border-bottom: 3px #87bdd8;
  }

  th {
    background-color:#87bdd8;
    color: rgb(255, 255, 255);
    padding: 10px;
  }

  tr {
    background-color: #b7d7e8;
    padding: 10px;
  }

  tr:nth-child(even) {
    background-color:#daebe8;
    padding: 10px;

  }

  /* buttons */
  .button-class {
    background-color:#cfe0e8;
    border: 3px solid #87bdd8;
    border-radius: 8px;
    padding: 10px 10px;
  }