{% extends "layout.html" %}
{% block content %}
<script src="{{url_for('static', filename='scripts.js')}}"></script>
<div>
    <form method="post" class="form-class" action="/casedetails?id={{case.id}}">
    <p class="title-top">ΠΛΗΡΟΦΟΡΙΕΣ ΠΕΡΙΣΤΑΤΙΚΟΥ</p>
    <label for="patient">Ασθενής:</label>
    <select class="textbox-form" id="patient" name="patient">
      <option value="{{case.patientID}}">{{patientcase.surname}} {{patientcase.name}} (ΑΜΚΑ: {{patientcase.amka}})</option>
        {% for patient in patients %}
      <option value="{{patient.id}}">{{patient.surname}} {{patient.name}} (ΑΜΚΑ: {{patient.amka}})</option>
      {% endfor %}
    </select>
    <p class="notification">Σε περίπτωση νέου ασθενή ανοίγετε πρώτα <a href="/newPatient">καρτέλα ασθενούς</a></p>
    <p>Δωμάτιο:<input class="textbox-form" type='text' name="roomn" value={{case.roomn}}></input> Κλίνη:<input class="textbox-form" type='text' name="bedn" value={{case.bedn}}></input></p>
    <p>Υπεύθυνος Ιατρός:<input class="textbox-form" type='text' name="doctor" value="{{case.doctor}}"></input></p>
    <label for="covidStatus">Covid Test:</label>
    <select class="textbox-form" id="covidStatus" name="covidStatus">
      <option value="Θετικό">Θετικό</option>
      <option value="Αρνητικό">Αρνητικό</option>
      <option value="Αδιευκρίνιστο">Αδιευκρίνιστο</option>
    </select>
    <p></p>
    <button class="button-class" type="submit" value="edit" name="submit">Επεξεργασία</button>
    <button class="button-class" type="submit" value="delete" name="submit">Διαγραφή</button>
    </form>

</div>
{% endblock %}

