{% extends "layout.html" %}
{% block content %}
<script src="{{url_for('static', filename='scripts.js')}}"></script>
<div class="form-class"> 
    <form method="post" action="/casedetails?id={{case.id}}">
    <p class="title-top">ΠΛΗΡΟΦΟΡΙΕΣ ΠΕΡΙΣΤΑΤΙΚΟΥ</p>
    <label for="patient">Ασθενής:</label>
    <select class="textbox-form" id="patient" name="patient">
      <option value="{{case.patientID}}">{{patientcase.surname}} {{patientcase.name}} (ΑΜΚΑ: {{patientcase.amka}})</option>
        {% for patient in patients %}
      <option value="{{patient.id}}">{{patient.surname}} {{patient.name}} (ΑΜΚΑ: {{patient.amka}})</option>
      {% endfor %}
    </select>
    <p class="notification">Σε περίπτωση νέου ασθενή ανοίγετε πρώτα <a href="/newPatient">καρτέλα ασθενούς</a></p>
    <p>Δωμάτιο:<input class="textbox-form" type='text' name="roomn" value={{case.roomn}}></input> Κλίνη:<input class="textbox-form" type='text' name="bedn" value={{case.bedn}}></input></p>
    <p>Υπεύθυνος Ιατρός:<input class="textbox-form" type='text' name="doctor" value="{{case.doctor}}"></input> Ημ. εισαγωγής: <input type="date" name="date" value="{{case.date}}" class="textbox-form" min="2020-01-01" max="2021-12-31"></p>
    <label for="covidStatus">Covid Test:</label>
    <select class="textbox-form" id="covidStatus" name="covidStatus">
      <option value="Θετικό">Θετικό</option>
      <option value="Αρνητικό">Αρνητικό</option>
      <option value="Αδιευκρίνιστο">Αδιευκρίνιστο</option>
    </select>
    <p class="alert-message">{{message}}</p>
    <button class="button-class" type="submit" value="edit" name="submit">Επεξεργασία</button>
    </form>
    <button class="button-class" onclick="caseDelConf()">Διαγραφή</button> <a href="/indexcases"><button class="button-class">Ακύρωση</button></a>
</div>
{% endblock %}

