
{% extends "layout.html" %}
{% block content %}
  <div>
    <p class="title-top">ΕΝΕΡΓΑ ΠΕΡΙΣΤΑΤΙΚΑ</p>
    <p></p>
    <form action="/searchPatients?page=case" method="post"class="float-left">
        Αναζήτηση με επίθετο ασθενούς: <input type="text"  name="searchSurname" class="textbox-form"> <button name="search" type="submit" value="searchSurname" class="button-class"><i class="fas fa-search"></i></i></button>
        Αναζήτηση με ΑΜΚΑ: <input type="text"  name="searchAMKA" class="textbox-form"> <button name="search" type="submit" value="searchAMKA" class="button-class"><i class="fas fa-search"></i></i></button>
        Αναζήτηση με Ημερομηνία: <input type="date"  name="searchDate" class="textbox-form" min="2020-01-01" max="2021-12-31"> <button  name="search" type="submit" value="searchDate" class="button-class"><i class="fas fa-search"></i></i></button>
        </form> 
        <a href="/newCase"><button class="button-class button-un float-right">Νέο Περιστατικό</button></a>
        <table class="table-comp">
            <tr>
                <th>Ασθενής</th>
                <th>Δωμάτιο</th>
                <th>Κλίνη</th>
                <th>Υπεύθυνος Ιατρός</th>
                <th>Ημερομηνία</th>
                <th>Covid Test</th>
                <th>Είδος Test</th>
                <th></th>
            </tr>
            {% for case in cases %}
            <tr>
                <td>{{case.patientSurname}} {{case.patientName}}</td>
                <td>{{case.roomn}}</td>
                <td>{{case.bedn}}</td>
                <td>{{case.doctor}}</td>
                <td>{{case.date}}</td>
                <td>{{case.covidStatus}}</td>
                <td>{{case.testType}}</td>
                <td><a href="/casedetails?id={{case.id}}"><button class="button-class" ><i class="fas fa-edit"></i></button></a></td>
            </tr>
        {% endfor %}
        </table>
     </div>
{% endblock %}