
{% extends "layout.html" %}
{% block content %}
  <div class="home">
    <h1>ΚΑΤΑΣΤΑΣΗ ΑΣΘΕΝΩΝ</h1>
    <p></p>
        <table class="comp-table" style="width:100%">
            <tr>
                <th>Επώνυμο</th>
                <th>Όνομα</th>
                <th>Δωμάτιο</th>
                <th>Κλίνη</th>
                <th>Υπεύθυνος Ιατρός</th>
                <th></th>
                <th></th>
            </tr>
            {% for patient in patients %}
            <tr>
                <td>{{ patient.surname}}</td>
                <td>{{ patient.name}}</td>
                <td>{{ patient.roomn}}</td>
                <td>{{ patient.bedn}}</td>
                <td>{{ patient.doctor}}</td>
                #TODO: SEND ID WITH BUTTON
                <td><button  href="127.0.0.0.1:5000/profile?id="+{{patient.id}}>Προσωπικά στοιχεία {{patient.id}} </button></td>
                <td><button>Διαγραφή</button></td>
            </tr>
        {% endfor %}
        </table>
     </div>
{% endblock %}