
{% extends "layout.html" %}
{% block content %}
  <div>
    <h1>ΚΑΤΑΛΟΓΟΣ ΑΣΘΕΝΩΝ</h1>
    <p></p>
        <a href="/newPatient"><button class="button-class">Νέος ασθενής</button></a>
        <table class="table-comp">
            <tr>
                <th>Επώνυμο</th>
                <th>Όνομα</th>
                <th>ΑΜΚΑ</th>
                <th>Τηλ. επικοινωνίας</th>
                <th></th>
                <th></th>
            </tr>
            {% for patient in patients %}
            <tr>
                <td>{{patient.surname}}</td>
                <td>{{patient.name}}</td>
                <td>{{patient.amka}}</td>
                <td>{{patient.contactphone}}</td>
                <td><a href="/profile?id={{patient.id}}"><button class="button-class"><i class="fas fa-edit"></i></button></a></td>
            </tr>
        {% endfor %}
        </table>
     </div>
{% endblock %}