{% extends "layout.html" %}
{% block content %}
<script src="{{url_for('static', filename='scripts.js')}}"></script>
<div class="form-class">
    <form method="post"  action="/profile?id={{patient.id}}">
    <p class="title-top">ΠΡΟΣΩΠΙΚΟ ΠΡΟΦΙΛ ΑΣΘΕΝΟΥΣ</p>
    <p>Επώνυμο: <input class="textbox-form" type='text' name='patientSurname' value="{{patient.surname}}"></input></p>
    <p>Όνομα: <input class="textbox-form" type='text' name='patientName' value="{{patient.name}}"></input></p>
    <p>ΑΜΚΑ: <input class="textbox-form" type='text' name='patientAmka' value="{{patient.amka}}"></input></p>
    <p>Τηλ. επικοινωνίας: <input class="textbox-form" type='text' name='patientContactPhone' value="{{patient.contactphone}}"></input></p>
    <p class="alert-message">{{message}}</p>
    <button class="button-class" type="submit" value="edit" name="submit">Επεξεργασία</button>
    </form>
    <button class="button-class" onclick="patDelConf()">Διαγραφή</button>
    <p class="title-top">ΠΕΡΙΣΤΑΤΙΚΑ ΑΣΘΕΝΟΥΣ</p>
    <table class="table-comp">
        <tr>
            <th>Δωμάτιο</th>
            <th>Κλίνη</th>
            <th>Υπεύθυνος Ιατρός</th>
            <th>Ημερομηνία</th>
            <th>Covid Test</th>
            <th></th>
        </tr>
        {% for case in cases %}
        <tr>
            <td>{{case.roomn}}</td>
            <td>{{case.bedn}}</td>
            <td>{{case.doctor}}</td>
            <td>{{case.date}}</td>
            <td>{{case.covidStatus}}</td>
            <td><a href="/casedetails?id={{case.id}}"><button class="button-class" ><i class="fas fa-edit"></i></button></a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}